-# SPDX-FileCopyrightText: Copyright (c) 2009-2026 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p.firebrick
  Internal error at
  =ver

%p
  Please help us improve our service and submit the following
  stacktrace to our issue tracker in Github:
  %a{href:'https://github.com/yegor256/netbout'}
    yegor256/netbout

%pre
  &=error
