-# SPDX-FileCopyrightText: Copyright (c) 2009-2026 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  Start a new bout:

%form{action: iri.cut('/start'), method: 'post'}
  %fieldset
    %input{name: 'title', type: 'text', placeholder: 'Title', tabindex: 1, autofocus: 1}
    %button{type: 'submit', tabindex: 2}
      Start
