-# SPDX-FileCopyrightText: Copyright (c) 2009-2026 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Terms of Use

%p
  The data you send to us may and most probably,
  without any notification,
  be sold to other parties, including organizations
  funded by governments of different countries.

%p
  Use this service at your own risk.
