-# SPDX-FileCopyrightText: Copyright (c) 2009-2026 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Tokens

%p
  Token:
  %br
  %code= human.tokens.get

%p
  At the moment, it's impossible to regenerate it.
