<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link href="/css/global.css?${build.number}"
            rel="stylesheet" type="text/css"></link>
        <link rel="icon" type="image/gif"
            href="http://cdn.netbout.com/favicon.ico?${build.number}"/>
    </head>
    <body style="padding: 1em;">
        <section>
            <p>
                <a href="http://www.netbout.com/">
                    <img src="http://cdn.netbout.com/logo-small.png?${build.number}"/>
                </a>
            </p>
            <p>
                <b style="color: red;">
                    Internal application error (r.${build.number})
                </b>.
            </p>
            <p>
                Netbout team already received a notification about this
                problem and will work with it as soon as possible. In the
                mean time click "Back" button in your browser and try
                to do something else.
            </p>
            <pre style="display:none;">${text}</pre>
        </section>
    </body>
</html>
