<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>internal application error</title>
        <link href="/css/global.css" rel="stylesheet" type="text/css"></link>
        <link rel="icon" type="image/gif" href="http://img.netbout.com/favicon.ico"/>
    </head>
    <body>
        <div id="bar">
            <a id="logo" href="http://www.netbout.com/">
                <img src="http://img.netbout.com/logo.png"/>
            </a>
        </div>
        <div id="content">
            <p>
                <b style="color: red;">Internal application error</b>.
            </p>
            <p>
                Netbout team already received a notification about this
                problem and will work with it as soon as possible. In the
                mean time click "Back" button in your browser and try
                to do something else.
            </p>
            <p>
                code: <span class="tt">${code}</span><br/>
                message: <span class="tt">${message}</span><br/>
                request_uri: <span class="tt">${request_uri}</span><br/>
                exception_type: <span class="tt">${exception_type}</span>
            </p>
            <pre>${stacktrace}</pre>
        </div>
    </body>
</html>
