<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link href="/css/style.css?${buildNumber}" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/gif" href="http://img.netbout.com/favicon.ico?${buildNumber}"/>
    </head>
    <body style="padding: 1em;">
        <p>
            <a href="http://www.netbout.com/">
                <img src="http://img.netbout.com/logo/logo-en.png?${buildNumber}"
                    style="width:113px;height:37px;"/>
            </a>
        </p>
        <p>
            <b style="color: red;">
                Internal application error (r.${buildNumber}).
            </b>
        </p>
        <p>
            netbout team already received a notification about this
            problem and will work with it as soon as possible. In the
            mean time click "Back" button in your browser and try
            to do something else.
        </p>
        <pre style="display:none;">${text}</pre>
    </body>
</html>
