#AuthUserFile .htpasswd
#AuthGroupFile /dev/null
#AuthName "project protected files"
#AuthType Basic
#require valid-user

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /index.php [NC,L]

