<?xml version="1.0"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.w3.org/1999/xhtml"
    version="2.0" exclude-result-prefixes="xs">
    <xsl:variable name="stage-home-uri">
        <xsl:text>${boutHome}s/</xsl:text>
    </xsl:variable>
    <xsl:variable name="bout-home-uri">
        <xsl:text>${boutHome}</xsl:text>
    </xsl:variable>
    <xsl:include href="/xsl/bout.xsl" />
    <xsl:include href="${stageXsl}" />
</xsl:stylesheet>
