#
# Copyright (c) 2009-2012, Netbout.com
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are PROHIBITED without prior written permission from
# the author. This product may NOT be used anywhere and on any computer
# except the server platform of netBout Inc. located at www.netbout.com.
# Federal copyright law prohibits unauthorized reproduction by any means
# and imposes fines up to $25,000 for violation. If you received
# this code accidentally and without intent to use it, please report this
# incident to the author by email.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
# ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
# OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
# SUCH DAMAGE.
#
# @version $Id: log4j.properties 3559 2012-11-02 20:32:40Z guard $
#
# http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html
#

packages:
  yum:
    nfs-utils: "1.2.3"

container_commands:
  01-create-NFS-folder:
    command: mkdir -p /mnt/inf
  02-chown-NFS-folder:
    command: chown -R tomcat.tomcat /mnt/inf
  03-mount-NFS:
    command: mount inf.netbout.com:/home/ubuntu/inf /mnt/inf
  04-set-correct-hostname:
    # this hostname will be perceived by papertrailapp.com
    command: hostname www.netbout.com
  05-forward-rsyslog-to-papertrail:
    # https://papertrailapp.com/systems/setup
    command: echo "*.* @logs.papertrailapp.com:15357" >> /etc/rsyslog.conf
  06-enable-remote-logging:
    command: echo -e "\$ModLoad imudp\n\$UDPServerRun 514\n\$ModLoad imtcp\n\$InputTCPServerRun 514" >> /etc/rsyslog.conf
  07-restart-syslog:
    command: service rsyslog restart
