<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link href="/css/style.css?${rev}" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/gif" href="/favicon.ico"/>
    </head>
    <body style="padding: 1em;">
        <p>
            <a href="http://www.netbout.com/">
                <img src="//img.netbout.com/logo.svg?${rev}"
                    style="width:113px;height:37px;"/>
            </a>
        </p>
        <p>
            <strong style="color: red;">
                Internal Application Error
            </strong>
        </p>
        <p>
            Build number: <code>${rev}</code>
        </p>
        <p>
            Netbout team has already received a notification about this
            problem. We will investigate and fix as soon as possible. In the
            mean time, click "Back" button in your browser and try
            again. It may work :)
        </p>
        <p>
            If you want to help our project, please post the following
            exception stacktrace to our
            <a href="https://github.com/yegor256/netbout/issues/new">Github</a> account.
        </p>
        <pre>${err}</pre>
    </body>
</html>
