${recepient.name()},

These messages were posted to "${bout.title()}" since ${since}:
#foreach(${message} in ${recent})

On ${message.date()} by ${message.author().name()}:
${message.text()}
#end

Click to reply: ${href}

Yours,
Netbout.com
