<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>wait...</title>
        <link href="/css/global.css?${buildNumber}"
            rel="stylesheet" type="text/css"></link>
        <link rel="icon" type="image/gif"
            href="http://img.netbout.com/favicon.ico?${buildNumber}"/>
    </head>
    <body style="padding: 1em;">
        <p>
            <a href="http://www.netbout.com/">
                <img src="http://img.netbout.com/logo-small.png?${buildNumber}"/>
            </a>
        </p>
        <p>
            Please wait, we're loading data (r.${buildNumber})...
        </p>
        <p>
            ${message}
        </p>
    </body>
</html>
